:root{
    --fontText: 'Quicksand', sans-serif;
    --sizeText: 1em;
    --sizeSubtitle: 1.5em;
    --sizeMiddle: 2.3em;
    --sizeTitle: 3em;
    --weightText: 400;
    --weightTitle: 700;
    --colorText: #fff;
    --colorBackground: #AAC6FC;
    --colorButtons: #EEBED3;
    --colorTextDetails: #F6E049;
}

*{
    font-family: var(--fontText);
}

/* NAVBAR */

.navbar{
    padding: 30px;
}

.navbar, .navbar a{
    background-color: var(--colorBackground);
    color: rgb(73, 73, 73);
}

.brand-title, .brand-logo i{
    font-weight: var(--weightTitle);
    font-size: var(--sizeTitle);
}

.nav-button{
    font-size: var(--sizeSubtitle);
    font-weight: var(--weightTitle);
}

.brand-logo{
    margin: 0 10px;
}

.brand-title{
    margin-left: 15px;
}

.navbar a:hover{
    opacity: 0.5;
    color: rgb(73, 73, 73);
}

.navbar-end a:hover{
    border-radius: 10px;
}

/* DISPLAY SECTIONS */

.display{
    display: none;
}

/* SUBTITLES */

.subtitle, .section-name{
    font-size: var(--sizeMiddle);
    font-weight: var(--weightTitle);
}

/* BUTTONS */

.button{
    background-color: var(--colorTextDetails);
    color: black;
    font-weight: var(--weightText);
    border: none;
}

.button:hover{
    background-color: var(--colorBackground);
}

/* FILTERS */ 

label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5em;
}

/* LINKS STYLE */

.link-style{
    color: black;
}

.link-style:hover{
    color: var(--colorBackground);
}